In [134]:
!pip install bs4
!pip install requests
!pip install lxml
!pip install tabulate

Requirement already satisfied: bs4 in c:\akhand\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\akhand\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\akhand\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\akhand\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: requests in c:\akhand\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\akhand\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\akhand\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\akhand\lib\site-packages (from requests) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\akhand\lib\site-packages (from requests) (2.0.12)

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\akhand\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: lxml in c:\akhand\lib\site-packages (4.8.0)

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\akhand\python.exe -m pip install --upgrade pip' command.

Collecting tabulate

WARNING: You are using pip version 20.2.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\akhand\python.exe -m pip install --upgrade pip' command.

  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9

In [1]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re
import lxml
import tabulate

In [36]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [37]:
page

In [56]:
#question 1 
# 1. Write a python program to display all the header tags from wikipedia.org
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "lxml")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
for header in titles:
    print(header.text, sep='\n\n')

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


English
expanded
collapsed


Views


More
expanded
collapsed


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

In [26]:
# Quextion 2
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
response

In [40]:
# question 2
# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
# and make data frame.
# Downloading imdb top 100 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
 
movies = soup.select('td.titleColumn')

ratings = [b.attrs.get('data-value')
           for b in soup.select('td.posterColumn span[name=ir]')]
 

 
list = []
 #Iterating over movies to extract
# each movie's details
for index in range(0,100):
     
    # Separating  movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "rating": ratings[index],
            }
    list.append(data)
    
# printing movie details with its rating.
for movie in list:
    print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
          ') - ',movie['rating'])

1 - The Shawshank Redemption (1994) -  9.239853987224944
2 - The Godfather (1972) -  9.160691972510666
3 - The Dark Knight (2008) -  8.992153135050941
4 - The Godfather: Part II (1974) -  8.989937912555751
5 - 12 Angry Men (1957) -  8.950301656797421
6 - Schindler's List (1993) -  8.939704039566282
7 - The Lord of the Rings: The Return of the King (2003) -  8.926814642281458
8 - Pulp Fiction (1994) -  8.859208471568579
9 - The Lord of the Rings: The Fellowship of the Ring (2001) -  8.811166279183153
1 -  Il buono, il brutto, il cattivo (1966) -  8.802684504132744
11 - Forrest Gump (1994) -  8.776282868499354
12 - Fight Club (1999) -  8.760240503347113
13 - Inception (2010) -  8.743738535505324
14 - The Lord of the Rings: The Two Towers (2002) -  8.73521190509777
15 - The Empire Strikes Back (1980) -  8.710055060638153
16 - The Matrix (1999) -  8.680661268500353
17 - Goodfellas (1990) -  8.658692504348176
18 - One Flew Over the Cuckoo's Nest (1975) -  8.64982006832131
19 - Se7en (1995) -  8.611538442346722
20 - Shichinin no samurai (1954) -  8.604503688904028
21 - It's a Wonderful Life (1946) -  8.604051901197108
22 - The Silence of the Lambs (1991) -  8.596276920747686
23 - Saving Private Ryan (1998) -  8.58543166803959
24 - Cidade de Deus (2002) -  8.585241009622983
25 - La vita è bella (1997) -  8.572213359490604
26 - The Green Mile (1999) -  8.567625454654733
27 - Star Wars (1977) -  8.565020295990594
28 - Interstellar (2014) -  8.56207381370607
29 - Terminator 2: Judgment Day (1991) -  8.544425079686006
30 - Back to the Future (1985) -  8.52725577818923
31 - Sen to Chihiro no kamikakushi (2001) -  8.523534343289958
32 - Psycho (1960) -  8.515802456378788
33 - Léon (1994) -  8.512961165688825
34 - The Pianist (2002) -  8.511649726562633
35 - Gisaengchung (2019) -  8.502174316886702
36 - The Lion King (1994) -  8.498555753169677
37 - Gladiator (2000) -  8.494748558002668
38 - American History X (1998) -  8.494138908080693
39 - Spider-Man: No Way Home (2021) -  8.491193175102481
40 - The Usual Suspects (1995) -  8.486841704393175
41 - The Departed (2006) -  8.484068241999331
42 - The Prestige (2006) -  8.47800721422095
43 - Casablanca (1942) -  8.472194885768088
44 - Whiplash (2014) -  8.465244134475157
45 - The Intouchables (2011) -  8.462887838721471
46 - Modern Times (1936) -  8.456898921703331
47 - Once Upon a Time in the West (1968) -  8.455872196720073
48 - Seppuku (1962) -  8.452737627624064
49 - Hotaru no haka (1988) -  8.45164961854751
50 - Alien (1979) -  8.443720137288842
51 - Rear Window (1954) -  8.443446403780683
52 - City Lights (1931) -  8.44146059301047
53 - Memento (2000) -  8.435712137194498
54 - Apocalypse Now (1979) -  8.432258779388246
55 - Nuovo Cinema Paradiso (1988) -  8.431155628987758
56 - Raiders of the Lost Ark (1981) -  8.421659665033665
57 - Django Unchained (2012) -  8.41057788200766
58 - WALL·E (2008) -  8.401645588295985
59 - The Lives of Others (2006) -  8.391936037668787
60 - Sunset Blvd (1950) -  8.388607015715777
61 - The Shining (1980) -  8.377128734252684
62 - Paths of Glory (1957) -  8.375809902304447
63 - The Great Dictator (1940) -  8.373305047561333
64 - Avengers: Infinity War (2018) -  8.365110833365783
65 - Witness for the Prosecution (1957) -  8.357893719909574
66 - Aliens (1986) -  8.354164886366584
67 - American Beauty (1999) -  8.34819927744449
68 - The Dark Knight Rises (2012) -  8.346456996283964
69 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) -  8.340928394005413
70 - Joker (2019) -  8.336393371551557
71 - Spider-Man: Into the Spider-Verse (2018) -  8.333837655077518
72 - Oldeuboi (2003) -  8.326477674120726
73 - Braveheart (1995) -  8.326450596865973
74 - Toy Story (1995) -  8.323823198859102
75 - Amadeus (1984) -  8.321497670151535
76 - Coco (2017) -  8.32042697725633
77 - Inglourious Basterds (2009) -  8.317858316797851
78 - Das Boot (1981) -  8.317485447893741
79 - Avengers: Endgame (2019) -  8.312422603602899
80 - Mononoke-hime (1997) -  8.311540068755763
81 - Once Upon a Time in America (1984) -  8.311052500919807
82 - Good Will Hunting (1997) -  8.29321638210712
83 - Toy Story 3 (2010) -  8.289458296326405
84 - Requiem for a Dream (2000) -  8.28730431031164
85 - 3 Idiots (2009) -  8.281025970309322
86 - Singin' in the Rain (1952) -  8.2808937152008
87 - Kimi no na wa (2016) -  8.279857726382291
88 - Star Wars: Episode VI - Return of the Jedi (1983) -  8.279070986416123
89 - Reservoir Dogs (1992) -  8.275067466719634
90 - Eternal Sunshine of the Spotless Mind (2004) -  8.274776058223877
91 - 2001: A Space Odyssey (1968) -  8.273829876511211
92 - Citizen Kane (1941) -  8.265741944030603
93 - Tengoku to jigoku (1963) -  8.26528648010101
94 - Lawrence of Arabia (1962) -  8.263095451597808
95 - M - Eine Stadt sucht einen Mörder (1931) -  8.261449996047297
96 - North by Northwest (1959) -  8.26119880853264
97 - Capharnaüm (2018) -  8.260999714019519
98 - Jagten (2012) -  8.259721608408036
99 - Vertigo (1958) -  8.25507587408635
10 -  Le fabuleux destin d'Amélie Poulain (2001) -  8.254962599587893

In [2]:
import pandas as pd

In [30]:
Dataframe = pd.DataFrame(list)
Dataframe

                             movie_title  year place             rating
0               The Shawshank Redemption  1994     1  9.239853987224944
1                          The Godfather  1972     2  9.160691972510666
2                        The Dark Knight  2008     3  8.992153135050941
3                 The Godfather: Part II  1974     4  8.989937912555751
4                           12 Angry Men  1957     5  8.950301656797421
..                                   ...   ...   ...                ...
95                    North by Northwest  1959    96   8.26119880853264
96                            Capharnaüm  2018    97  8.260999714019519
97                                Jagten  2012    98  8.259721608408036
98                               Vertigo  1958    99   8.25507587408635
99   Le fabuleux destin d'Amélie Poulain  2001    10  8.254962599587893

[100 rows x 4 columns]

In [14]:
# question 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
#             release) and make data frame.

url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
 
movies = soup.select('td.titleColumn')

ratings = [b.attrs.get('data-value')
           for b in soup.select('td.posterColumn span[name=ir]')]
 

 
list = []
 #Iterating over movies to extract
# each movie's details
for index in range(0,100):
     
    # Separating  movie into: 'place',
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "rating": ratings[index],
            }
    list.append(data)
    
# printing movie details with its rating.
for movie in list:
    print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
          ') - ',movie['rating'])

1 - Jai Bhim (2021) -  8.470487765409013
2 - Anbe Sivam (2003) -  8.422367469469053
3 - Pariyerum Perumal (2018) -  8.417289257691658
4 - Golmaal (1979) -  8.403364848078372
5 - Nayakan (1987) -  8.397769529416134
6 - 3 Idiots (2009) -  8.369454263980275
7 - Apur Sansar (1959) -  8.360724014734886
8 - Soorarai Pottru (2020) -  8.34567149890696
9 - C/o Kancharapalem (2018) -  8.339417706385154
1 -  Kumbalangi Nights (2019) -  8.336527109822946
11 - Black Friday (2004) -  8.331302655523993
12 - Manichitrathazhu (1993) -  8.325327979207806
13 - Jersey (2019) -  8.319662893244443
14 - Taare Zameen Par (2007) -  8.31700606536857
15 - #Home (2021) -  8.313117099657354
16 - Kaithi (2019) -  8.308225735609097
17 - Kireedam (1989) -  8.306981761357818
18 - Dangal (2016) -  8.303789922866006
19 - Sardar Udham (2021) -  8.294763211351365
20 - Asuran (2019) -  8.294583019189856
21 - Sarpatta Parambarai (2021) -  8.280215455449841
22 - Pather Panchali (1955) -  8.279541667628155
23 - Thevar Magan (1992) -  8.277834489230198
24 - 96 (2018) -  8.273129441996572
25 - Thalapathi (1991) -  8.271516019811086
26 - Visaaranai (2015) -  8.25596596953514
27 - Natsamrat (2016) -  8.252401011899781
28 - Drishyam 2 (2021) -  8.251238098097721
29 - Thani Oruvan (2015) -  8.227351879254703
30 - Vada Chennai (2018) -  8.22631774270394
31 - Peranbu (2018) -  8.211565052707073
32 - Aparajito (1956) -  8.189313767518229
33 - Jaane Bhi Do Yaaro (1983) -  8.186472171007303
34 - Khosla Ka Ghosla! (2006) -  8.182330007501662
35 - Ratsasan (2018) -  8.180006040583745
36 - Agent Sai Srinivasa Athreya (2019) -  8.17883302299348
37 - Mahanati (2018) -  8.175504900081751
38 - Anniyan (2005) -  8.16622435831966
39 - Chupke Chupke (1975) -  8.15725639465765
40 - Super Deluxe (2019) -  8.153409058609114
41 - Bangalore Days (2014) -  8.151734210790451
42 - Aruvi (2016) -  8.15046398347975
43 - Satya (1998) -  8.145373700979794
44 - Premam (2015) -  8.144552615406623
45 - Devasuram (1993) -  8.143402443977966
46 - Drishyam (2013) -  8.141994648340761
47 - Vikram Vedha (2017) -  8.134374758449738
48 - Chhichhore (2019) -  8.133343375364678
49 - Kannathil Muthamittal (2002) -  8.132761581648857
50 - Chithram (1988) -  8.132392437320389
51 - Bhaag Milkha Bhaag (2013) -  8.132353245241521
52 - Andhadhun (2018) -  8.129232056597765
53 - Iruvar (1997) -  8.128518468881099
54 - Tumbbad (2018) -  8.121576913657467
55 - Gangs of Wasseypur (2012) -  8.12056826782496
56 - Drishyam (2015) -  8.118269311826287
57 - Guide (1965) -  8.118026824492011
58 - Paan Singh Tomar (2012) -  8.111491747754418
59 - Shahid (2012) -  8.110024136506256
60 - Spadikam (1995) -  8.109332534779895
61 - Mudhalvan (1999) -  8.108533167742454
62 - Sairat (2016) -  8.10685924470201
63 - Swades: We, the People (2004) -  8.106387785656674
64 - Pudhu Pettai (2006) -  8.105334963099194
65 - Zindagi Na Milegi Dobara (2011) -  8.10512982742248
66 - Dhuruvangal Pathinaaru (2016) -  8.104616932839143
67 - Chak De! India (2007) -  8.103231293094765
68 - Papanasam (2015) -  8.090922697287281
69 - Soodhu Kavvum (2013) -  8.089920806412572
70 - Uri: The Surgical Strike (2019) -  8.089643986815899
71 - Mandela (2021) -  8.084356881731292
72 - Black (2005) -  8.083552970693054
73 - Jo Jeeta Wohi Sikandar (1992) -  8.082843985018302
74 - OMG: Oh My God! (2012) -  8.07925232017069
75 - Jigarthanda (2014) -  8.078880665894836
76 - Pyaasa (1957) -  8.078530010699353
77 - Queen (2013) -  8.07556359711352
78 - Article 15 (2019) -  8.074850987133315
79 - Kaakkaa Muttai (2014) -  8.073436517812759
80 - Talvar (2015) -  8.070204866100037
81 - Theeran Adhigaaram Ondru (2017) -  8.069654745107195
82 - PK (2014) -  8.067866762497495
83 - Munna Bhai MBBS (2003) -  8.064794086532578
84 - Shershaah (2021) -  8.06473117970757
85 - Pithamagan (2003) -  8.059772483092708
86 - Sarfarosh (1999) -  8.059337779474825
87 - Lagaan: Once Upon a Time in India (2001) -  8.058131729847563
88 - Ustad Hotel (2012) -  8.056820407615119
89 - Baasha (1995) -  8.05397972803635
90 - Hera Pheri (2000) -  8.053057071310281
91 - Barfi! (2012) -  8.052757239480506
92 - Udaan (2010) -  8.05043013808849
93 - Sholay (1975) -  8.04747555621421
94 - The Legend of Bhagat Singh (2002) -  8.045332973903244
95 - Oru Vadakkan Veeragatha (1989) -  8.044695655022247
96 - Angoor (1982) -  8.03862793602824
97 - Maheshinte Prathikaaram (2016) -  8.02927527051593
98 - Rang De Basanti (2006) -  8.02839034670335
99 - Virumandi (2004) -  8.028363705343759
10 -  Masaan (2015) -  8.028272549154481

In [15]:
Dataframe = pd.DataFrame(list)
Dataframe

                movie_title  year place             rating
0                  Jai Bhim  2021     1  8.470487765409013
1                Anbe Sivam  2003     2  8.422367469469053
2         Pariyerum Perumal  2018     3  8.417289257691658
3                   Golmaal  1979     4  8.403364848078372
4                   Nayakan  1987     5  8.397769529416134
..                      ...   ...   ...                ...
95                   Angoor  1982    96   8.03862793602824
96  Maheshinte Prathikaaram  2016    97   8.02927527051593
97          Rang De Basanti  2006    98   8.02839034670335
98                Virumandi  2004    99  8.028363705343759
99                   Masaan  2015    10  8.028272549154481

[100 rows x 4 columns]

In [41]:
# QUESTION 4
# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp . 
url = "https://meesho.com/bags-ladies/pl/p7vbp"
response = requests.get(url)
response

In [42]:
url = "https://meesho.com/bags-ladies/pl/p7vbp"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
print('PRODUCT NAME :~')
product = []
for i in soup.find_all("p",class_ = "Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    product.append(i.text)

print(product)
print(len(product))

print("PRICE :~")
price_ = []
for price in soup.find_all('h5',class_ = "Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    price_.append(price.text)
    
    
    
print(price_)
print(len(price_))
    
print("DISCOUNT ON ALL BAG :~")

discount_= []
for discount in soup.find_all("span",class_ = "Text__StyledText-sc-oo0kvp-0 lnonyH"):
    discount_.append(discount.text)
    
    
print(discount_)
print(len(discount_))

PRODUCT NAME :~
['Voguish Attractive Women Handbags', 'Elite Fancy Women Handbags', 'Ravishing Alluring Women Handbags', 'Gorgeous Stylish Women Handbags', 'Elegant Attractive Women Handbags', 'Trendy Fancy Women Handbags', 'Gorgeous Classy Women Handbags', 'Voguish Fashionable Women Handbags', 'Elegant Stylish Women Handbags', "Elegant Fancy Women's Bags", "Elegant Fancy Women'S Pu Leather Hand Bags", 'Wonderful Women Women Handbags', 'Elite Fashionable Women Handbags', 'Elite Fancy Women Handbags', 'Voguish Alluring Women Handbags', 'Classic Alluring Women Handbags', 'Elegant Classy Women Handbags', 'Classic Attractive Women Handbag', 'Trendy Stylish Women Handbags', 'Trendy Stylish Women Handbags']
20
PRICE :~
['₹346', '₹210', '₹173', '₹150', '₹510', '₹199', '₹187', '₹227', '₹210', '₹181', '₹164', '₹206', '₹91', '₹137', '₹469', '₹189', '₹296', '₹197', '₹189', '₹199']
20
DISCOUNT ON ALL BAG :~
['26% off', '44% off', '30% off', '30% off', '16% off', '35% off', '33% off', '38% off', '30% off', '34% off', '37% off', '35% off', '34% off', '33% off', '25% off', '30% off', '30% off', '33% off', '30% off', '30% off']
20

In [43]:

details["Product name"] = product
details['price'] = price_
details['discount'] = discount_

df = pd.DataFrame(details)
df

                                  Product name price discount
0            Voguish Attractive Women Handbags  ₹346  26% off
1                   Elite Fancy Women Handbags  ₹210  44% off
2            Ravishing Alluring Women Handbags  ₹173  30% off
3              Gorgeous Stylish Women Handbags  ₹150  30% off
4            Elegant Attractive Women Handbags  ₹510  16% off
5                  Trendy Fancy Women Handbags  ₹199  35% off
6               Gorgeous Classy Women Handbags  ₹187  33% off
7           Voguish Fashionable Women Handbags  ₹227  38% off
8               Elegant Stylish Women Handbags  ₹210  30% off
9                   Elegant Fancy Women's Bags  ₹181  34% off
10  Elegant Fancy Women'S Pu Leather Hand Bags  ₹164  37% off
11              Wonderful Women Women Handbags  ₹206  35% off
12            Elite Fashionable Women Handbags   ₹91  34% off
13                  Elite Fancy Women Handbags  ₹137  33% off
14             Voguish Alluring Women Handbags  ₹469  25% off
15             Classic Alluring Women Handbags  ₹189  30% off
16               Elegant Classy Women Handbags  ₹296  30% off
17            Classic Attractive Women Handbag  ₹197  33% off
18               Trendy Stylish Women Handbags  ₹189  30% off
19               Trendy Stylish Women Handbags  ₹199  30% off

In [104]:
#QUESTION 5
#5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
url = "https://www.icc-cricket.com"
response = requests.get(url)
response

In [5]:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")

ranking = soup.find_all("table", attrs={"class": "table"})

table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)

all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)
    
    
    
df = pd.DataFrame(data=all_rows,columns=headings)
df.head(10)

,Pos,\nTeam\nT,\nMatches\nM,\nPoints\nP,\nRating\nR
0,1,New ZealandNZ,17,2054,121 ...
1,2,EnglandENG,32,3793,119
2,3,AustraliaAUS,28,3244,116
3,4,IndiaIND,38,4162,110
4,5,South AfricaSA,28,2943,105
5,6,PakistanPAK,27,2524,93
6,7,BangladeshBAN,33,2988,91
7,8,Sri LankaSL,35,2835,81
8,9,West IndiesWI,36,2788,77
9,10,AfghanistanAFG,23,1562,68

In [3]:
#b) Top 10 ODI Batsmen along with the records of their team and rating.
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
response = requests.get(url)
response

In [11]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
response = requests.get(url)
soup = BeautifulSoup(response.text, "lxml")
ranking = soup.find_all("table", attrs={"class": "table"})

table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)
    
all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)
    
    
    
df = pd.DataFrame(data=all_rows,columns=headings)
df.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1 ...,Babar Azam,PAK,873,873 v England ...
1,2 ...,Virat Kohli,IND,811,911 v England ...
2,3 ...,Rohit Sharma,IND,791,885 v Sri Lank...
3,4 ...,Quinton de Kock,SA,783,813 v Sri Lank...
4,5 ...,Aaron Finch,AUS,779,798 v England ...
5,6 ...,Jonny Bairstow,ENG,775,796 v India 26...
6,7 ...,David Warner,AUS,762,880 v Pakistan...
7,8 ...,Rassie van der Dussen,SA,750,750 v India 23...
8,9 ...,Fakhar Zaman,PAK,741,779 v England ...
9,10 ...,Joe Root,ENG,740,824 v Sri Lank...

In [9]:
#c) Top 10 ODI bowlers along with the records of their team and rating.
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response = requests.get(url)
response

In [13]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
response = requests.get(url)
soup = BeautifulSoup(response.text, "lxml")
ranking = soup.find_all("table", attrs={"class": "table"})

table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)
    
all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)
    
    
    
df = pd.DataFrame(data=all_rows,columns=headings)
df.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1 ...,Trent Boult,NZ,737,770 v West Ind...
1,2 ...,Josh Hazlewood,AUS,709,733 v England ...
2,3 ...,Chris Woakes,ENG,700,711 v Sri Lank...
3,4 ...,Matt Henry,NZ,691,691 v Banglade...
4,5 ...,Mujeeb Ur Rahman,AFG,681,712 v Ireland ...
5,6 ...,Jasprit Bumrah,IND,679,841 v West Ind...
6,7 ...,Mehedi Hasan,BAN,675,725 v Sri Lank...
7,8 ...,Mitchell Starc,AUS,652,783 v New Zeal...
8,9 ...,Rashid Khan,AFG,650,806 v Pakistan...
9,10 ...,Andy McBrine,IRE,646,646 v West Ind...

In [7]:
#6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")

ranking = soup.find_all("table", attrs={"class": "table"})

table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)


table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)
    
all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)
    
    
    
df = pd.DataFrame(data=all_rows,columns=headings)
df.head(10)

,Pos,\nTeam\nT,\nMatches\nM,\nPoints\nP,\nRating\nR
0,1,AustraliaAUS,20,3263,163 ...
1,2,South AfricaSA,21,2580,123
2,3,EnglandENG,21,2474,118
3,4,IndiaIND,22,2221,101
4,5,New ZealandNZ,24,2342,98
5,6,BangladeshBAN,5,475,95
6,7,West IndiesWI,21,1801,86
7,8,PakistanPAK,19,1304,69
8,9,IrelandIRE,5,240,48
9,10,Sri LankaSL,5,233,47

In [16]:
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)
response

In [18]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")

ranking = soup.find_all("table", attrs={"class": "table"})

table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)


table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)
    
all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)
    
    
    
df = pd.DataFrame(data=all_rows,columns=headings)
df.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1 ...,Alyssa Healy,AUS,749,776 v India 21...
1,2 ...,Mithali Raj,IND,735,839 v Australi...
2,3 ...,Tammy Beaumont,ENG,707,791 v India 27...
3,4 ...,Meg Lanning,AUS,706,834 v New Zeal...
4,5 ...,Beth Mooney,AUS,705,734 v England ...
5,6 ...,Lizelle Lee,SA,702,774 v West Ind...
6,7 ...,Amy Satterthwaite,NZ,700,756 v Australi...
7,8 ...,Smriti Mandhana,IND,666,797 v England ...
8,9 ...,Laura Wolvaardt,SA,661,725 v India 07...
9,10 ...,Ellyse Perry,AUS,661,766 v West Ind...

In [20]:
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response = requests.get(url)
response

In [22]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response = requests.get(url)

soup = BeautifulSoup(response.text, "html.parser")

ranking = soup.find_all("table", attrs={"class": "table"})

table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)


table1 = ranking[0]
body = table1.find_all("tr")
head = body[0]      # 0th item is the header row
body_rows = body[1:] # All other items becomes the rest of the rows
headings = []
for item in head.find_all("th"): # loop through all th elements
    # convert the th elements to text and strip "\n"
    item = (item.text).rstrip("\n")
    # append the clean column name to headings
    headings.append(item)
    
all_rows = [] # will be a list for list for all rows
for row_num in range(len(body_rows)): # A row at a time
    row = [] # this will old entries for one row
    for row_item in body_rows[row_num].find_all("td"): #loop through all row entries
        # row_item.text removes the tags from the entries
        # the following regex is to remove \xa0 and \n and comma from row_item.text
        # xa0 encodes the flag, \n is the newline and comma separates thousands in numbers
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        #append aa to row - note one row entry is being appended
        row.append(aa)
    # append one row to all_rows
    all_rows.append(row)
    
    
    
df = pd.DataFrame(data=all_rows,columns=headings)
df.head(10)

,Pos,Player,Team,Rating,Career Best Rating
0,1 ...,Ellyse Perry,AUS,438,548 v West Ind...
1,2 ...,Natalie Sciver,ENG,351,391 v New Zeal...
2,3 ...,Marizanne Kapp,SA,327,419 v West Ind...
3,4 ...,Amelia Kerr,NZ,312,312 v India 24...
4,5 ...,Deepti Sharma,IND,309,397 v South Af...
5,6 ...,Katherine Brunt,ENG,273,296 v Australi...
6,7 ...,Jess Jonassen,AUS,263,308 v West Ind...
7,8 ...,Stafanie Taylor,WI,262,559 v New Zeal...
8,9 ...,Ashleigh Gardner,AUS,256,275 v India 26...
9,10 ...,Hayley Matthews,WI,254,286 v South Af...

In [146]:
#question 7
#7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
# and the code for the video from the link for the youtube video from the post.
url = "https://coreyms.com/"
response = requests.get(url)
response

In [161]:
url = "https://coreyms.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
print("HEADING :~")
for i in soup.find_all('a',class_="entry-title-link"):
    print(i.text)

print('DATE :~')
for time in soup.find_all('time',class_="entry-time"):
    print(time.text)
    
    
print("CONTENT :~")
for content in soup.find_all('div',class_ = "entry-content"):
    print(content.text)

print("YOUTUBE VIDEO :~")
for video in soup.find_all('span',class_ = "embed-youtube"):
    print(video)

HEADING :~
Python Tutorial: Zip Files – Creating and Extracting Zip Archives
Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey
Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module
Python Threading Tutorial: Run Code Concurrently Using the Threading Module
Update (2019-09-03)
Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)
Python Tutorial: Calling External Commands Using the Subprocess Module
Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview
Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview
Clarifying the Issues with Mutable Default Arguments
DATE :~
November 19, 2019
October 17, 2019
September 21, 2019
September 12, 2019
September 3, 2019
August 6, 2019
July 24, 2019
May 1, 2019
May 1, 2019
April 24, 2019
CONTENT :~

In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…



In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…





In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…





In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…





Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube


In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…





In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…





In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…
VSCode on MacOS – https://youtu.be/06I63_p-2A4
Timestamps for topics in this tutorial: Installation – 1:13 Python Extension – 5:48 Switching Interpreters – 10:04 Changing Color Themes – 12:35 VSCode Settings – 16:16 Set Default Python – 21:33 Using Virtual Environments – 25:10 IntelliSense – 29:45 Code Formatting – 32:13 Code Linting – 37:06 Code Runner Extension – 39:42 Git Integration – 47:44 Use Different Terminal – 51:07 Debugging – 58:45 Unit Testing – 1:03:25 Zen Mode – 1:09:55





In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…
VSCode on Windows – https://youtu.be/-nh9rCzPJ20
Timestamps for topics in this tutorial: Installation – 1:11 Python Extension – 6:21 Switching Interpreters – 10:16 Changing Color Themes – 13:08 VSCode Settings – 17:12 Set Default Python – 22:24 Using Virtual Environments – 25:52 IntelliSense – 30:28 Code Formatting – 33:08 Code Linting – 38:01 Code Runner Extension – 40:45 Git Integration – 49:05 Debugging – 58:15 Unit Testing – 1:02:38 Zen Mode – 1:10:42





In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…




YOUTUBE VIDEO :~
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/z0gguhEmWiY?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/_P7X8tMplsw?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/fKl2JW_qrso?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/IEEhzQoKtQU?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/mO_dS3rXDIs?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/-nh9rCzPJ20?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/06I63_p-2A4?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>
<span class="embed-youtube" style="text-align:center; display: block;"><iframe allowfullscreen="true" class="youtube-player" height="360" sandbox="allow-scripts allow-same-origin allow-popups allow-presentation" src="https://www.youtube.com/embed/_JGmemuINww?version=3&amp;rel=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;fs=1&amp;hl=en-US&amp;autohide=2&amp;wmode=transparent" style="border:0;" width="640"></iframe></span>

In [164]:
#question 8
# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,
#area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, 
#Rajaji Nagar.
url = "https://www.nobroker.in/"
response = requests.get(url)
response

In [9]:
url = "https://www.nobroker.in/property/rent/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

print("HOUSE TITLE :~")
for i in soup.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    
    print(i.text)

print("LOCATION :~")
for location in soup.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    print(location.text)
    
print("AREA + PRICE :~")
for area in soup.find_all('div',class_="font-semi-bold heading-6"):
    print(area.text) #DUE TO RUPEES SYMBOL WE GET UNWANTED STUFFS IN RESULTS   
print("EMI :~")
for emi in soup.find_all('div',class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0"):
  print(emi.text)  #DUE TO RUPEES SYMBOL WE GET UNWANTED STUFFS IN RESULTS

HOUSE TITLE :~
2 BHK In Independent House  For Rent  In Rajajinagar
2 BHK In Independent House  For Rent  In Banashankari
1 BHK In Independent House  For Rent  In Jayanagar
3 BHK Flat  For Rent  In Renaissance Park 2 In Rajaji Nagar
2 BHK In Independent House  For Rent  In J P Nagar, 1st Phase
LOCATION :~
Independent House, East West Public School
Independent House,  K.R.Road, BSK 2nd stage Near MM Industry ,
Independent House, Behind Madhavan park/ Mountain street
Renaissance Park 2, 1st Main Road, Subramanyanagar,2 State,
Independent House, near vysya bank colony Rajalakshmi Multi Specialty Hospital, TMC Layout, 1st Phase, JP Nagar, Bengaluru, Karnataka, India
AREA + PRICE :~
2,700 sqft
â¹7,50,000
â¹ 75,000No Extra Maintenance
900 sqft
â¹1,00,000
â¹ 14,000 +â¹ 800Maintenance
375 sqft
â¹45,000
â¹ 8,500 +â¹ 900Maintenance
1,700 sqft
â¹3,00,000
â¹ 30,000 +â¹ 4,900Maintenance
1,500 sqft
â¹1,50,000
â¹ 28,000No Extra Maintenance
EMI :~
â¹ 75,000No Extra MaintenanceRent (Negotiable)
â¹ 14,000 +â¹ 800MaintenanceRent (Non-Negotiable)
â¹ 8,500 +â¹ 900MaintenanceRent (Non-Negotiable)
â¹ 30,000 +â¹ 4,900MaintenanceRent (Negotiable)
â¹ 28,000No Extra MaintenanceRent (Negotiable)

In [10]:
#  QUESTION 9
# 9) Write a python program to scrape mentioned details from dineout.co.in :
# i) Restaurant name
# ii) Cuisine
# iii) Location
# iv) Ratings
# v) Image URL
url = "https://www.dineout.co.in/delhi-restaurants/buffet-special"
response = requests.get(url)
response

In [11]:
url = "https://www.dineout.co.in/delhi-restaurants/buffet-special"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

# (i)  Restaurant name
print(' Restaurant name :~')
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    print(i.text)

 Restaurant name :~
Castle Barbeque
Jungle Jamboree
Cafe Knosh
Castle Barbeque
The Barbeque Company
India Grill
Delhi Barbeque
The Monarch - Bar Be Que Village
World Cafe
Indian Grill Room
Mad 4 Bar B Que
Barbeque 29
Glasshouse

In [26]:
# ii) Cuisine
print("Cuisine :~")
for cuisine in soup.find_all('span',class_="double-line-ellipsis"):
    print(cuisine.text)

Cuisine :~
₹ 2,000 for 2 (approx) | North Indian, Chinese
₹ 1,400 for 2 (approx) | North Indian, Asian, Italian
₹ 3,000 for 2 (approx) | Italian, Continental
₹ 2,000 for 2 (approx) | Chinese, North Indian
₹ 1,700 for 2 (approx) | North Indian, Chinese
₹ 2,400 for 2 (approx) | North Indian, Italian
₹ 1,800 for 2 (approx) | North Indian
₹ 1,900 for 2 (approx) | North Indian, Chinese
₹ 1,800 for 2 (approx) | North Indian, Chinese, Continental
₹ 2,000 for 2 (approx) | North Indian, Mughlai
₹ 800 for 2 (approx) | North Indian, Mughlai
₹ 1,500 for 2 (approx) | North Indian, Chinese
₹ 3,400 for 2 (approx) | European, Italian, Asian, Continental

In [25]:
# iii) Location
print("Location :~")
for location in soup.find_all('div',class_="restnt-loc ellipsis"):
    print(location.text.replace(" ","  "))

Location :~
Connaught  Place,  Central  Delhi
3CS  Mall,Lajpat  Nagar  -  3,  South  Delhi
The  Leela  Ambience  Convention  Hotel,Shahdara,  East  Delhi
Pacific  Mall,Tagore  Garden,  West  Delhi
Gardens  Galleria,Sector  38A,  Noida
Hilton  Garden  Inn,Saket,  South  Delhi
Taurus  Sarovar  Portico,Mahipalpur,  South  Delhi
Indirapuram  Habitat  Centre,Indirapuram,  Ghaziabad
Vibe  by  The  Lalit  Traveller,Sector  35,  Faridabad
Suncity  Business  Tower,Golf  Course  Road,  Gurgaon
Sector  29,  Faridabad
NIT,  Faridabad
DoubleTree  By  Hilton  Gurugram  Baani  Square,Sector  50,  Gurgaon

In [24]:
# iv) Ratings
print("Rating :~")
for rating in soup.find_all('div',class_="restnt-rating rating-4"):
    print(rating.text)

Rating :~
3.5
3.9
4.3
3.9
4
3.9
3.7
3.9
4.3
4.3
3.6
4.2
4.1

In [28]:
# v) Image URL
for image in soup.find_all('img',class_="no-img"):
    
    print(image)

<img alt="Castle Barbeque" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium" data-url="/delhi/castle-barbeque-connaught-place-central-delhi-86792" data-w-onclick="cardClickHandler"/>
<img alt="Jungle Jamboree" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium" data-url="/delhi/jungle-jamboree-lajpat-nagar-3-south-delhi-59633" data-w-onclick="cardClickHandler"/>
<img alt="Cafe Knosh" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium" data-url="/delhi/cafe-knosh-shahdara-east-delhi-406" data-w-onclick="cardClickHandler"/>
<img alt="Castle Barbeque" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium" data-url="/delhi/castle-barbeque-tagore-garden-west-delhi-38113" data-w-onclick="cardClickHandler"/>
<img alt="The Barbeque Company" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium" data-url="/delhi/the-barbeque-company-sector-38a-noida-79307" data-w-onclick="cardClickHandler"/>
<img alt="India Grill" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium" data-url="/delhi/india-grill-saket-south-delhi-2687" data-w-onclick="cardClickHandler"/>
<img alt="Delhi Barbeque" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium" data-url="/delhi/delhi-barbeque-mahipalpur-south-delhi-52501" data-w-onclick="cardClickHandler"/>
<img alt="The Monarch - Bar Be Que Village" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium" data-url="/delhi/the-monarch-bar-be-que-village-indirapuram-ghaziabad-34822" data-w-onclick="cardClickHandler"/>
<img alt="World Cafe" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium" data-url="/delhi/world-cafe-sector-35-faridabad-12366" data-w-onclick="cardClickHandler"/>
<img alt="Indian Grill Room" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/d/p549-15291237715b2493bb2a415.jpg?tr=tr:n-medium" data-url="/delhi/indian-grill-room-golf-course-road-gurgaon-549" data-w-onclick="cardClickHandler"/>
<img alt="Mad 4 Bar B Que" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium" data-url="/delhi/mad-4-bar-b-que-sector-29-faridabad-43488" data-w-onclick="cardClickHandler"/>
<img alt="Barbeque 29" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium" data-url="/delhi/barbeque-29-nit-faridabad-58842" data-w-onclick="cardClickHandler"/>
<img alt="Glasshouse" class="lazy-load-img no-img" data-gatype="RestaurantImageClick" data-src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium" data-url="/delhi/glasshouse-sector-50-gurgaon-9875" data-w-onclick="cardClickHandler"/>

In [24]:
# QUESTION 10
#10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
# https://www.bewakoof.com/women-tshirts?ga_q=tshirts .
url = "https://www.bewakoof.com/women-tshirts?ga_q=tshirts"
response = requests.get(url)
response

In [36]:
url = "https://www.bewakoof.com/women-tshirts?ga_q=tshirts"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

name_box = soup.find_all('div', attrs={'class':'productCardDetail'})
price_box = soup.find_all('span', attrs={'class':'discountedPriceText'})

for product in zip(name_box,price_box):
    name,price=product
    name_proper=name.text.strip()
    price_proper=price.text.strip()
    print(name_proper,'-',price_proper)

Bugs On A Pocket Half Sleeve Printed T-Shirt(LTL)₹ 249799₹229For TriBe Members - ₹ 249
Donut Worry Half Sleeve T-Shirt Pineapple Yellow₹ 249549₹229For TriBe Members - ₹ 249
Ray Half Sleeve T-Shirt₹ 199799₹179For TriBe Members - ₹ 199
Nakhre always On Women's Printed White T-shirt₹ 299799₹269For TriBe Members - ₹ 299
Unique Minnie Half Sleeve T-Shirt (DL) White₹ 299999₹279For TriBe Members - ₹ 299
All We Have Half Sleeve T-Shirt Meteor Grey₹ 199549₹179For TriBe Members - ₹ 199
Simply Pawfect Half Sleeve T-Shirt (DL) Tropical blue₹ 299999₹279For TriBe Members - ₹ 299
Sleepy Cat₹ 349549₹319For TriBe Members - ₹ 349
Digi Teal Half Sleeve T-Shirt₹ 199499₹179For TriBe Members - ₹ 199
Peace Jerry Half Sleeve Printed T-Shirt (TJL) White₹ 299549₹279For TriBe Members - ₹ 299

In [37]:
for images in soup.find_all('div', class_='productCardDetail'):
    print(i)

<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>
<div class="productCardBox"><div class="productCardImg false"><div class="" style="width:100%;padding-top:125%;position:relative;background:rgb(248, 248, 246)"><img alt="Shop Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front" class="productImgTag" height="100%" src="https://images.bewakoof.com/t320/chibi-friends-frl-women-s-half-sleeve-printed-t-shirt-364179-1623041879.jpg" title="Chibi Friends (FRL) Half Sleeve Printed T-shirt-Front Bewakoof" width="100%"/></div><div class="productStatusBox"><span class="wishProduct"><i class="icon_wishlist" id="testCatHeart"></i></span></div><div class="bottomTag"><div class="productTypeBox"><p>Slim fit</p></div></div></div><div class="productCardDetail"><div><h3 id="">Chibi Friends (FRL) Half Sleeve Printed T-shirt</h3></div><div class="productPriceBox clearfix"><span class="discountedPriceText">₹ <b>249</b></span><span class="actualPriceText">799</span><span class="sellingFastBox"></span><div class="loyaltyPriceBox"><h6><b>₹<!-- -->229</b>For TriBe Members</h6></div> </div></div></div>